@-moz-document domain("last.fm") {

  html, body::before {
    background:#E3E3E3!important;
  }

  body {
    font-size:8pt!important;
    color:#000!important;
    background-color:#E3E3E3!important;
    width:1000px!important;
    margin:0 auto!important;
  }
  
  .avatar{
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
    border:1px solid #e3e3e3!important;
  }
  
  .header-title, .header-title-display-name, .featured-track-subtitle, .metadata-display{
    color:#000!important;
  }
  
  .col-sidebar {
    display:none!important;
  }

  div.container { 
    margin-left:5px!important;
    background-image:none!important;
    width:100%!important;
  }

  div.YAD {
   height:0!important; 
  }
  
  .main-content {
    background-color:#fff!important;
  }
  
  .header-title {
    margin-top:-155px!important;
    margin-left:200px!important;
  }
  
  .header-title-secondary {
    margin-top:-5px!important;
    margin-left:200px!important;
  }
  
  .header-featured-track {
    margin-right:26px;
  }
  
  .header-metadata-global-stats {
    margin-top:-40px!important;
    margin-left:200px!important;
  }

  .header-message-user {
    margin-right:46px;
  }
  
  .nag-bar-message, .nag-bar {
    display:none!important;
  }
  
  .player-bar-controls, .player-bar-now-playing {
    display:none!important;
  }
  
  .masthead .masthead-nav-links {
    left:-200px!important;
  }
  
  .masthead {
    height:80px!important;
    background:#C91D23!important;
  }
  
  .feedback-message {
    display:none!important;
  }

}
