@-moz-document domain("last.fm") {

  html, body::before {
    background:#E3E3E3!important;
  }

  body {
    font-size:12px!important;
    font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif !important;
    color:#000!important;
    background-color:#E3E3E3!important;
    width:1000px!important;
    margin:0 auto!important;
  }
  
  .avatar, .auth-avatar-desktop {
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
    border:1px solid #e3e3e3!important;
  }
  
  .header-title, .header-title-display-name, .featured-track-subtitle, .metadata-display {
    color:#000!important;
  }
  
  .col-sidebar {
    display:none!important;
  }
  
  .col-main {
    width:100%!important;
  }

  div.container { 
    background-image:none!important;
    width:100%!important;
  }

  div.YAD {
    display:none!important;
  }
  
  .main-content {
    background-color:#fff!important;
  }
  
  .header-title {
    margin-top:-155px!important;
    margin-left:200px!important;
  }
  
  .header-title-secondary {
    margin-top:-5px!important;
    margin-left:200px!important;
  }
  
  .header-featured-track {
    margin-right:26px;
  }
  
  .header-avatar-inner-wrap {
    margin-top:10px!important;
  }
  
  .header-metadata-global-stats {
    margin-top:-40px!important;
    margin-left:200px!important;
  }

  .header-message-user {
    top:-5px!important;
    right:27px!important;
  }
  
  .nag-bar-message, .nag-bar {
    display:none!important;
  }
  
  .player-bar-controls, .player-bar-now-playing {
    display:none!important;
  }
  
  .masthead .masthead-nav-links {
    left:-200px!important;
  }
  
  .masthead {
    height:80px!important;
    background: -webkit-linear-gradient(#E21B23, #B31F23)!important;
    background: -o-linear-gradient(#E21B23, #B31F23)!important;
    background: -moz-linear-gradient(#E21B23, #B31F23)!important;
    background: linear-gradient(#E21B23, #B31F23)!important;
    border: 1px solid #AA0000!important;
    box-shadow: 0px 0px 3px #aaaaaa!important;
  }
  
  #mantle_skin {
    margin-top:-20px!important;
  }
  
  .feedback-message {
    display:none!important;
  }
  
  .chartlist-play {
    display:none!important;
  }

  .dropdown-menu.dropdown--open {
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
    box-shadow:none!important;
    background:#C91D23!important;
    border:none!important;
    margin-top:4px!important;
  }
  
  .secondary-nav-item-link{
    color:#45A9CB!important;
  }
  
  .secondary-nav-item-link--active::after{
  background-color:#45A9CB!important;
  }
  
  .top-bar, .top-bar-overlay {
    background:transparent!important;
    position:static!important;
    height:0px!important;
  }
  
  .dropdown {
    background: -webkit-linear-gradient(#E21B23, #B31F23)!important;
    background: -o-linear-gradient(#E21B23, #B31F23)!important;
    background: -moz-linear-gradient(#E21B23, #B31F23)!important;
    background: linear-gradient(#E21B23, #B31F23)!important;
    border: 1px solid #AA0000!important;
  }
  
  .countbar-bar-slug {
    background:#71B7E6!important;
  }
  
  .shout-btn {
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
  }
  
  .chartlist tr:nth-child(2n) td {
    background:#FCFCFC!important;
  }
  
  .chartlist tr {
    background:#EFEFEF!important;
  }
  
  .dropdown-inner-wrap{
  padding-left:10px!important;
  padding-right:10px!important;
}  

}
